@import "../../vars";

#getStarted {
    margin-top: 64px;
    margin-bottom: 64px;
    display: grid;
    grid-template-areas:
        "image content"
        "image smallContent";

    #image {
        grid-area: image;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;

        img {
            margin-right: 70px;
            margin-bottom: 25px;
        }
    }

    #content {
        order: 2;
        grid-area: content;
    }

    #content,
    #smallContent {
        h3,
        p {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            margin-bottom: 16px;
            color: #21005d;
            transition: color 0.3s;
        }

        h1 {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 57px;
            line-height: 64px;
            letter-spacing: -0.25px;
            color: #21005d;
            margin-bottom: 32px;
            transition: color 0.3s;
        }

        p {
            color: #625b71;
            margin-bottom: 0;
        }

        button {
            margin-top: 32px;
        }

        &.dark {
            h3,
            h1 {
                color: #eaddff !important;
            }

            p {
                color: #ffffff !important;
            }

            button {
                color: #6750a4 !important;
                background-color: #f7f2fa !important;

                &:hover {
                    color: #7e6eacff !important;
                    background-color: #ffffff11 !important;
                }
            }
        }
    }

    #smallContent {
        grid-area: smallContent;
    }
}

@media (max-width: $tablet-max-size) {
    #getStarted {
        width: 536px;
        margin-top: 45px;
        grid-template-areas:
            "content image"
            "smallContent smallContent";

        #image {
            order: 2;

            img {
                margin: 0;
                width: 242px;
                height: 258px;
            }
        }

        #content {
            padding-top: 27px;
            margin-right: -56px;
            padding-right: 90px;
            order: 1;

            h3 {
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                color: #21005d;
                margin-bottom: 12px;
            }

            h1 {
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                font-family: Montserrat;
                color: #21005d;
                padding-left: 2px;
                margin-bottom: 16px;
            }

            p {
                color: #21005d;
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                font-family: Montserrat;
                width: 260px;
                letter-spacing: 0;
            }
        }

        #smallContent {
            margin-top: 64px;

            p {
                color: #21005d;
                margin-bottom: 16px;
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0;

                &:last-of-type {
                    margin-bottom: 64px;
                }
            }

            button {
                display: block;
                margin: auto;
            }
        }
    }
}

@media (max-width: $mobile-max-size) {
    #getStarted {
        position: relative;
        width: 390px;
        grid-template-areas:
            "image"
            "content"
            "smallContent";

        #image {
            position: absolute;
            left: 1px;
            width: 390px;
            height: 416px;
            opacity: 10%;
            top: -36px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #content,
        #smallContent {
            width: 358px;
            margin: auto;
            text-align: center;
            padding: 0;
            padding-top: 17px;

            h3 {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #21005d;
                margin-bottom: 8px;
            }

            h1 {
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                color: #21005d;
                text-transform: uppercase;
                width: 100%;
                letter-spacing: 0;
                padding-left: 0;
                margin-bottom: 32px;
            }

            p {
                width: 100%;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.1px;
                color: #6750a4;
                text-align: center;
            }
        }

        #smallContent {
            margin-top: 16px;

            p {
                &:nth-child(2) {
                    margin-top: 20px;
                }
            }

            button {
                width: 358px;
                height: 68px;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 1px;
                color: #ffffff;
                background-color: #21005d;
            }
        }

        &.dark {
            #content {
                h3 {
                    color: #eaddff;
                }

                h1 {
                    color: #eaddff;
                }

                p {
                    color: #ffffff;
                }
            }

            #smallContent {
                margin-top: 16px;

                p {
                    &:nth-child(2) {
                        margin-top: 20px;
                    }
                }

                button {
                    color: #1d192b;
                    background-color: #e8def8;
                }
            }
        }
    }
}

@media (max-width: $unsafe-mobile-max-size) {
    #getStarted {
        width: 100%;

        #image {
            width: 100%;
            top: -65px;
            left: 0;
            right: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        #content {
            width: 100%;
            padding: 0 10px;

            h3 {
                font-size: 11px;
            }

            h1 {
                font-size: 28px;
            }
        }

        #smallContent {
            width: 100%;
            padding: 0 10px;

            button {
                width: 100%;
            }

            p:last-of-type {
                margin-bottom: 40px;
            }
        }
    }
}
