@import "../../vars";

#author {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 120px;
    padding-bottom: 128px;

    #content {
        h2 {
            color: #1d192b;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 45px;
            line-height: 52px;
            margin-bottom: 26px;
            margin-top: 50px;
        }
    }

    p {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #21005d;
    }

    img {
        border-radius: 50%;
        width: 360px;
        height: 360px;
        object-fit: cover;
    }

    &.dark #content {
        h2,
        p {
            color: #ffffff;
        }
    }
}

@media (max-width: $tablet-max-size) {
    #author {
        width: 536px;
        grid-template-columns: 1fr 159px;
        gap: 28px;
        padding-bottom: 64px;

        #content {
            h2 {
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0;
                color: #21005d;
                margin-top: 10px;
                margin-left: 1px;
                margin-bottom: 19px;
            }
        }

        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0;
            color: #6750a4;
            width: 344px;
            margin-left: 2px;
            padding-bottom: 9px;
        }

        img {
            width: 159px;
            height: 198px;
            border-radius: 180px;
        }

        &.dark {
            #content {
                h2 {
                    color: #ffffff;
                }
            }

            p {
                color: #ffffff !important;
            }
        }
    }
}

@media (max-width: $mobile-max-size) {
    #author {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        padding-bottom: 56px;

        #content {
            h2 {
                width: 358px;
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0;
                text-align: center;
                margin: auto;
            }
        }

        p {
            width: 353px;
            margin: auto;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            text-align: Center;
        }

        img {
            width: 151.82px;
            height: 148px;
            border-radius: 50%;
            display: block;
            margin: auto;
        }
    }
}

@media (max-width: $unsafe-mobile-max-size) {
    #author {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

        #content {
            width: 100%;

            h2 {
                width: 100%;
            }
        }

        p {
            width: 90%;
        }

        img {

        }
    }
}