#header {
    margin-top: 24px;
    height: 48px;
    display: flex;
    align-items: center;

    #logo {
        margin-right: 64px;
    }

    menu {
        display: flex;
        gap: 32.5px;
        align-items: center;

        a {
            color: #625B71;
            font-family: Montserrat;
            font-weight: 500;
            text-decoration: none;
            position: relative;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            transition: color 0.3s;

            &.active::before {
                content: '';
                position: absolute;
                bottom: -11px;
                left: -11px;
                right: 0;
                margin: auto;
                width: 20px;
                height: 3px;
                background-color: #625B71;
                transition: background-color 0.3s;
            }
        }
    }

    #lang {
        margin-left: 86px;
        margin-right: 64px;
        padding: 2px;
    }

    &.dark {
        menu > a {
            color: #FFFFFF !important;

            &::before {
                background-color: #FFFFFF;
            }
        }
    }
}