#navbar {
    display: none;
}

@media (max-width: 900px) {
    #navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        display: block;
        background: linear-gradient(
            180deg,
            rgba(74, 68, 88, 0.8) 0%,
            rgba(74, 68, 88, 0.7) 100%,
            rgba(74, 68, 88, 0.8) 100%
        );
        width: 100%;
        height: 90px;
        padding: 24px 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            background-color: #e8def81f;
            border: none;
            border-radius: 100px;
            padding: 13px 16px;
            width: 56px;
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

@media (max-width: 600px) {
    #navbar {
        padding: 24px 17px;
        background: linear-gradient(
            180deg,
            rgba(74, 68, 88, 0.8) 0%,
            rgba(74, 68, 88, 0.7) 100%,
            rgba(74, 68, 88, 0.8) 100%
        ) !important;
    }
}
