$desktop-min-size: 1140px;
$desktop-container-size: 1128px;

$tablet-max-size: 1139px;
$tablet-min-size: 600px;
$tablet-container-size: 536px;

$mobile-max-size: 599px;
$mobile-min-size: 390px;
$mobile-container-size: 358px;

$unsafe-mobile-max-size: 389px;
