@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

.container {
	width: 1128px;
	margin: auto;
}

#app {
	width: 100%;
	overflow: hidden;
}

body {
	transition: background-color 0.3s;
}

body.Dark {
	background-color: #1D192B;
}

@media (max-width: 1220px) {
	.container {
		width: 900px;
	}
}

@media (max-width: 900px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 600px) {
	.container {
		width: 358px;
	}

	#app {
		overflow: hidden;
	}
}