#switcher {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    user-select: none;

    &.on {
        button {
            border: 2px solid #938F99;
            background-color: #36343B;
    
            span {
                background-color: #FFFFFF;
                margin-left: 20px;
            }
        }

        span {
            color: #E6E0E9;
        }
    }

    button {
        width: 52px;
        height: 32px;
        border-radius: 100px;
        border: 2px solid #938F99;
        background-color: #36343B;
        padding: 6px;
        transition: background-color 0.3s, border 0.3s;
        cursor: pointer;

        span {
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 100px;
            background-color: #938F99;
            transition: margin 0.3s, background-color 0.3s;
        }
    }

    span {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.7px;
        color: #49454F;
    }
}